@page "/counter"

<h1 class="xl:font-sans">Counter</h1>

<p>Current count: @currentCount</p>

<button class="bg-blue-300 text-red-500" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}